:root {
	--layout-max-width : 1280px;
	--layout-min-width : 360px;
	--border-radius: 5px;
	--text-color: #6e6e6e;
}

/* reset */
* {
	box-sizing: border-box;
	/* color: #353535; */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* swiper */
.swiper {
	width: 100%;
}

.swiper-slide {
	font-size: 18px;
	background: #fff;
}

.swiper-pagination {
	visibility: hidden;
	top: 0 !important;
	right: 20px;
	left: inherit;
	bottom: inherit;
	width: auto;
	min-width: 69px;
	padding: 5px 8px 4px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	text-align: right;
}

.swiper-button-next,
.swiper-button-prev {
	width: 40px;
	height: 40px;
	background-color: rgba(55, 55, 55, 0.8);
	border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	color: #fff;
	font-size: 20px;
	font-weight: bold;

}

.swiper-pagination-current {
	font-weight: bold;
}

/* 공통 */
body{ font-family: 'NanumSquare', sans-serif }
.no_data {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	padding: 25px 20px;
	border-radius: 5px;
	background-color: #eee;
	color: #7e7e7e;
	width: 100%;
}

input {
	height: 45px;
	padding: 15px 6px;
	border: 2px solid #6e6e6e;
	border-radius: var(--border-radius);
	color: var(--text-color);
	font-size: 20px;
}

button {
	min-width: 100px;
	height: 45px;
	padding: 9px 23px;
	border: 0;
	border-radius: var(--border-radius);
	background-color: #6e6e6e;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
}

h2 {
	margin: 25px 0 25px;
	font-size: 25px;
}

/* 레이아웃 */
.header,
.main,
.present_weather {
	max-width: var(--layout-max-width);
	margin: 0 auto;
}

.header {
	padding: 40px 20px 25px;
	text-align: left;
}
.header .open_search {
	display: none;
}

.header .input_area {
	position: relative;
	font-size: 0;
}
.header .input_area::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 25px;
    height: 25px;
    top: 10px;
    left: 13px;
	background: url("../img/icon_search.png") no-repeat left top;
	background-size: 25px auto;
    
}

.header .search_bar {
	position: relative;
	width: calc(100% - 110px);
	padding-left: 48px;
	vertical-align: top;
}


.header .search_btn {
	margin-left: 10px;
	vertical-align: top;
}

.main {
	padding: 25px 20px 30px;
}

.section {
	margin-top: 30px;
	display: flex;
}

.section .inner:not(:only-child):first-child {
	flex-shrink: 0;
	width: 30%;
	padding-right: 25px;
}

.section .inner {
	overflow: hidden;
	flex-grow: 1;
	width: 100%;
	min-height: 220px;
}
section.m_pull .inner {
	min-height: inherit;
}
.section:first-child h2 {
	margin-top: 0;
}
footer {
	background-color: #f1f1f1;
}
footer .inner {
	display: flex;
	justify-content: space-between;
	max-width: var(--layout-max-width);
	width: 100%;
	margin: 0 auto;
	padding: 20px 10px;
	color: #676358;
}
footer ul {
	display: flex;
}



/* banner 1920 * 450*/
.banner {
	overflow: hidden;
	height: 450px;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #aacbff;
}

.present_weather {
	position: relative;
	height: 100%;
	/* height: 100%;
	background-repeat: no-repeat;
	transition: all 5s; */
}

.bg_clear_sky {
    background-color: #abc4f3;
    background-image: url("../img/banner/clear_sky_bg.png");
}

.bg_few_clouds {
	background-color: #a5c7ff;
	background-image: url("../img/banner/few_clouds_bg.png");

}
.bg_scattered_clouds {
	background-color: #77869d;
	background-image: url("../img/banner/scattered_clouds_bg.png");
}
.bg_broken_clouds {
	background-color:#a3b9d1;
	background-image: url("../img/banner/broken_clouds_bg.png");
}
.bg_shower_rain {
	background-color: #7c8299;
	background-image: url("../img/banner/shower_rain_bg.png");
}
.bg_rain {
	background-color: #b0d2ed;
	background-image: url("../img/banner/few_clouds_bg.png");
	/* background-image: url("../img/banner/rain_bg.png"); */
}
.bg_thunderstorm {
	background-color: #768c9e;
	background-image: url("../img/banner/thunderstorm_bg.png");
}
.bg_snow {
	background-color: #a3d1f0;
	background-image: url("../img/banner/snow_bg.png");
}
.bg_mist {
	background-color: #dadde6;
	background-image: url("../img/banner/mist_bg.png");
}

.action_space {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 133% -44%;
	opacity: 0;
	transition: all 1s;
}

[class*='bg_'] .action_space {
	opacity: 1;
	animation: 0.75s linear infinite moveUpDown;
}

.bg_few_clouds .action_space {
	position: relative;
	background-image: url("../img/banner/few_clouds_3D.png");
	background-size: 360px auto;
	background-position: 70% -42%;
}

.bg_few_clouds .action_space::before,
.bg_scattered_clouds .action_space::before,
.bg_broken_clouds .action_space::before,
.bg_mist .action_space::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 60%;
	width: 340px;
	height: 340px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("../img/scattered_clouds.png");
	background-size: 100% auto;
	transform: translateX(-150%) rotate(180deg);
	filter: drop-shadow(0 -10px 3px #fff);
	animation: 17s 7s linear infinite movesRotate;
}
.bg_few_clouds .action_space::after,
.bg_scattered_clouds .action_space::after,
.bg_broken_clouds .action_space::after,
.bg_mist .action_space::after {
	content: '';
	display: inline-block;
	position: absolute;
	/* left: 0; */
	bottom: -17%;
	width: 180px;
	height: 180px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-image: url("../img/scattered_clouds.png");
	background-size: 100% auto;
	transform: translateX(-320%) scale(-1, 1);
	filter: drop-shadow(-420px -145px 3px #fff);
	animation: 18s linear infinite moves;
}

.bg_clear_sky .action_space {
	position: relative;
	background-image: url("../img/banner/clear_sky_3D.png");
	background-size: 340px auto;
	background-position: 77% 0;
}
.bg_clear_sky .action_space::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/clear_sky_bg.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	animation: 1s linear infinite bounce;
}

.bg_scattered_clouds .action_space {
	background-image: url("../img/banner/scattered_clouds_3D.png");
	background-size: 360px auto;
	background-position: 60% -10%;
}

.bg_broken_clouds .action_space {
	background-image: url("../img/banner/broken_clouds_3D.png");
	background-size: 360px auto;
	/* background-position: 72% -44%; */
	background-position: 65% 10%;
}
.bg_shower_rain .action_space {
	background-image: url("../img/banner/shower_rain_3D.png");
	background-size: 320px auto;
	background-position: 78% 12%;
	opacity: 0.85;
}
.bg_shower_rain .action_space::before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/shower_rain_eff.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	transform: translateY(-100%);
	opacity: 0.5;
	animation: 1s 0.5s linear infinite comeDown;
}
.bg_shower_rain .action_space::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/shower_rain_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	transform: translateY(-100%);
	opacity: 1;
	animation: 1s linear infinite comeDown;
}

.bg_rain .action_space {
	background-image: url("../img/banner/rain_3D.png");
	background-size: 310px auto;
	background-position: 77% 4%;
	opacity: 0.85;
}
.bg_rain .action_space::before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/rain_eff.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	transform: translateY(-100%);
	opacity: 0.6;
	animation: 1.1s 0.5s linear infinite comeDown;
}
.bg_rain .action_space::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/rain_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	background-position: right top;
	transform: translateY(-100%);
	animation: 1.1s linear infinite comeDown;
	opacity: 1;
}

.bg_thunderstorm .action_space {
	position: relative;
	background-image: url("../img/banner/thunderstorm_3D.png");
	background-size: 310px auto;
	background-position: 77% 4%;
	opacity: 0.75;
}
.bg_thunderstorm .action_space::before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/rain_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	transform: translateY(-100%);
	opacity: 0.5;
	animation: 1s linear infinite comeDown;
}
.bg_thunderstorm .action_space::after {
	position: absolute;
	display: block;
	content: '';
	left: 55%;
	width: 400px;
	height: 100%;
	background-image: url("../img/banner/thunderstorm_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	transform: translateY(-18%);
	opacity: 0;
	animation: 1.5s 1s linear infinite lightning;
}

.bg_snow .action_space {
	position: relative;
	background-image: url("../img/banner/snow_3D.png");
	background-size: 300px auto;
	background-position: 77% 12%;
}
.bg_snow .action_space::before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/snow_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	transform: translateY(-100%);
	opacity: 0.5;
	animation: 8s 4s linear infinite comeDown;
}
.bg_snow .action_space::after {
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/snow_eff.png");
	background-size: auto 100%;
	background-repeat: repeat;
	transform: translateY(-100%);
	opacity: 1;
	animation: 8s linear infinite comeDown;
}

.bg_mist .action_space {
	background-image: url("../img/banner/mist_3D.png");
	background-size: 380px auto;
	background-position: 65% -54%;
	opacity: 0.9;
}

.present_weather span[class*="icon_"] {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-size: 0;
	color: transparent;
	position: absolute;
}

.action_txt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.day_weather {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 100%;
	color: #353535;
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.025em;
}
.day_weather .temp {
	position: relative;
	width: 50%;
	text-align: right;
	padding-right: 35px;
}
.day_weather .temp_num {
	position: relative;
	display: block;
	padding-top: 15px;
	font-size: 100px;
	font-weight: bold;
	letter-spacing: -0.1em;
}
.day_weather .temp_num::after {
	content: '°';
	position: absolute;
	top: -9px;
	font-size: 80px;
}
.day_weather .temp_words {
	position: absolute;
	right: -179px;
	bottom: 13px;
	color: #6C6C6C;
	font-size: 28px;
}
.day_weather .value {
	display: flex;
	flex-direction: column;
	width: 50%;
	/* padding-left: 35px; */
	text-align: left;
}
.day_weather .value span:first-child {
	font-size: 45px;
}
.day_weather .value span:last-child {
	font-size: 28px;
}
.day_weather .other {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 390px;
	margin-top: 5px;
	padding: 10px 25px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
}
.day_weather .other span {
	display: inline-block;
}
.day_weather .other > span:last-child {
	position: relative;
	margin-left: 20px;
	padding-left: 20px;
}
.day_weather .other > span:last-child::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: inline-block;
	width: 1px;
	height: 80%;
	background-color: #fff;
}
.day_weather .other > span > span:last-child {
	font-size: 24px;
	margin-left: 10px;
}
.banner.no_data {
	display: inherit;
	padding: 0;
	border-radius: 0;
}

.icon_cloud {
	top: 0;
	width: 350px;
	height: 350px;
	background-image: url("../img/scattered_clouds.png");
}

.icon_cloud.fixed {
	top: -10%;
	left: 67%;
	transform: translate(-67%, 10%) scale(-1.2, 1.2);
	animation: 0.8s linear infinite upDownCloud;
	opacity: 0.8;
	z-index: 10;
}

.icon_cloud:not(.fixed) {
	top: -90px;
	animation: 40s infinite ease-in-out moveCloud,
		1s infinite linear moveCloud2;
	z-index: 0;
}

.icon_sun {
	left: 56%;
	top: 0;
	width: 350px;
	height: 350px;
	transform: translate(-56%, -12%);
	background-image: url("../img/clear_sky.png");
	animation: 1.5s linear infinite moveSun;
	z-index: 10;
}

.banner .pollution {
	display: none;
}

/* pollution */
.air_pollution {
    overflow: hidden;
	border-radius: 5px;
}
.pollution {
	display: flex;
	
	position: relative;
	height: 44px;
	padding: 10px 50px 10px 10px;
	background-color: #dadada;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	filter: grayscale(1);
}

.pollution.on {
	filter: grayscale(0);
	justify-content: space-between;
	transition: all 0.5s;
}
.pollution .pollution_num {
	width: 0;
	opacity: 0;
	justify-content: space-between;
}
.pollution.on .pollution_num {
	width: inherit;
	opacity: 1;
}
.pollution .unit {
	font-size: 20px;
	font-weight: normal;
}

.air_pollution .icon img {
	width: 50%;
}

.pollution::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.pollution .status {
	font-size: 20px;
	opacity: 0.8;
}

.pollution.good {
	background-color: #aacbff;
}

.pollution.good::after {
	background-image: url("../img/airPollution_good.png");
}

.pollution.fair {
	background-color: #c5d149;
}

.pollution.fair::after {
	background-image: url("../img/airPollution_fair.png");
}

.pollution.moderate {
	background-color: #ffcf58;
}

.pollution.moderate::after {
	background-image: url("../img/airPollution_moderate.png");
}

.pollution.poor {
	background-color: #ffa158;
}

.pollution.poor::after {
	background-image: url("../img/airPollution_poor.png");
}

.pollution.very_poor {
	background-color: #ff6d58;
}

.pollution.very_poor::after {
	background-image: url("../img/airPollution_very_poor.png");
}

/* weather_list */
.weather_list ul {
	display: flex;
	min-height: 220px;
	background-color: #e2e2e280;
	border-radius: var(--border-radius);

}

.weather_list .weather_item:not(:last-child) {
	border-right: 2px solid #fff;
}

.weather_item {
	height: 220px;
	padding: 35px 10px 20px;
	border-radius: 5px;
	background-color: #f1f1f1;
	text-align: center;
}

.weather_item .detail {
	margin-top: 15px;
}

.weather_item .icon img {
	width: 50%;
}

.weather_item .date {
	display: block;
	font-size: 23px;
	font-weight: bold;
}

.weather_item .temperature {
	word-spacing: -0.025em;
	font-size: 15px;
}

.weather_item .temperature span {
	position: relative;
	color: #676358;
	font-weight: bold;
}

.weather_item .temperature span::after {
	content: '°C';
	display: inline-block;
	margin-left: 5px;
	color: #7c7c7c;
	font-size: 12px;
}

.weather_item .temperature span:not(:only-child):last-child {
	padding-left: 10px;
}

.weather_item .temperature span:not(:only-child):last-child::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	content: '/';
	margin-right: 5px;
	font-size: 12px;
	color: #7c7c7c;

}

.weather_item .description {
	margin-top: 7px;
	color: #a2a2a2;
	font-size: 13px;
}

.weather_list .no_data {
	height: 220px;
}

/* festival */
.info {
	overflow: hidden;
	display: flex;
	padding: 20px 15px 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	min-height: 200px;
}

.info .img {
	overflow: hidden;
	display: block;
	flex-shrink: 0;
	width: 93px;
	height: 135px;
	border-radius: 5px;
}

.info .img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info .txt {
	display: block;
	flex-grow: 1;
	padding-right: 10px;
	line-height: 1.4rem;
}

.info .txt .title {
	display: flex;
	align-items: center;
	min-height: 71px;
	padding-top: 20px;
	margin-top: -20px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.info .txt dd {
	display: flex;
	flex-direction: row;
	margin-bottom: 7px;
	color: #7e7e7e;
	font-size: 0;
	word-spacing: -0.04em;
}

.info .txt dd:last-child {
	margin-bottom: 0;
}

.info .txt dd span {
	font-size: 1rem;

	vertical-align: top;
}

.info .txt .subtitle {
	flex-shrink: 0;
	width: 45px;
	font-weight: bold;
}

.info .txt .description {
	flex-grow: 1;
}

/* fashion */
.clothes {
	position: relative;
    display: flex;
    justify-content: space-between;
	min-height: 150px;
    align-items: center;
    width: 100%;
}
.clothes_icon {
    flex-shrink: 0;
    width: 30%;
    /* border: 2px solid #e0e0e0; */
    /* margin-right: 30px; */
    /* margin-left: 10px; */
}
.clothes_icon > img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clothes_bubble {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
    height: 180px;
    flex-grow: 1;
	padding: 30px 40px;
	border-radius: var(--border-radius);
	background: #eeeeee;
	color: #3a3a3a;
	line-height: 1.1em;
    text-align: center;
	word-break: keep-all;
}

.clothes_bubble:after {
	content: '';
	position: absolute;
	left: 1px;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-right-color: #eeeeee;
	border-left: 0;
	margin-top: -25px;
	margin-left: -25px;
}
.clothes_recommend{
    font-size: 17px;
}
.clothes_phrase{
	font-size: 26px;
	font-weight: bold;
	/* margin-bottom: 20px; */
	line-height: 1.4em;
	
}

.currentweather{
	display: flex;
	justify-content: center;
	padding-top: 200px;
	font-size: 50px;
}

.bg_thunderstorm .temp,
.bg_thunderstorm .day_weather .temp_words {
	color: #fff;
}

@media screen and (min-width: 769px) {
	.day_weather .temp_words {
		text-align: left;
		min-width: 214px;
		right: -214px;
	}
	.bg_thunderstorm .value {
	color: #fff;
	}
	.bg_thunderstorm .other {
		color: #465c6f;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		width: 100%;
		padding: 20px;
	}

	.header .input_area {}
	.banner {
		width: 100%;
		overflow: hidden;
	}
	.main {
		width: 100%;
		padding: 0 20px 30px;
	}
	.section:first-child h2 {
		display: none;
	}
	footer .inner {
		flex-direction: column;
		line-height: 1.4rem;;
	}
	footer .inner ul {
		margin-top: 10px;
	}

	.weather_list ul {
		flex-direction: column;
	}

	.weather_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 44px;
		padding: 0 20px;
		border-left: 0;
		border-bottom: 2px solid #fff;
	}

	.weather_item:last-child {
		border-bottom: 0;
	}

	.weather_item .date {
		font-size: 20px;
		text-align: left;
	}

	.weather_item .detail {
		display: flex;
		align-items: center;
		margin-top: 0;
		width: 65%;
		text-align: left;
	}

	.weather_item .icon {
		height: 50px;
		width: 50px;
	}

	.weather_item .icon img {
		width: 100%;
		height: auto;
	}

	.weather_item .description {
		margin-left: auto;
		margin-top: 0;
		text-align: right;
	}
	
	.currentweather{
		display: flex;
		justify-content: center;
		padding-top: 200px;
		font-size: 35px;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 15px;
	}
	h2 {
		font-size: 22px;
	}
	button {
		font-size: 16px;
	}

	.no_data {
		min-height: inherit;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
	.swiper-pagination {
		visibility: visible;
		font-size: 15px;
	}
	.section .inner {
		min-height: inherit;
	}

	.currentweather{
		display: flex;
		justify-content: center;
		padding-top: 200px;
		font-size: 15px;
	}

	.main {
		min-width: var(--layout-min-width);
	}
	.header .open_search {
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		min-width: inherit;
		padding: 0;
		border: 1px solid #a5a5a5;
		border-radius: 50%;
		background:rgba(255,255,255,0.8) url("../img/icon_search.png") no-repeat center;
		background-size: 23px auto;
		font-size: 0;
		color: transparent;
		transition: all 0.5s;
	}

	.header.active .open_search {
		top: 75px;
	}

	.header .search_bar,
	.header .search_btn {
		width: 0;
		min-width: inherit;
		padding: 10px;
		color: transparent;
		opacity: 0;
		transition: all 0.5s;
	}

	.header.active .search_btn {
		color: #fff;
		width: 70px;
		opacity: 1;
		background-color: rgba(55, 55, 55, 0.9);
	}

	.header.active .search_bar {
		width: calc(100% - 80px);
		opacity: 1;
	}

	.header .input_area {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 0;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;
		text-align: right;
	}
	.header.active .input_area {
		width: calc(100% - 40px);
		visibility:visible;
		opacity: 1;
	}
	.header .input_area input {
		padding-left: 50px;
		color: var(--text-color);
		font-size: 16px;
		background-color: rgba(255,255,255,0.8);
	}

	.banner {
		position: relative;
		overflow: inherit;
		margin-bottom: 165px;
	}

	.action_space {
		overflow: hidden;
	}

	.bg_clear_sky .action_space::before {
		background-position: center;
	}
	.bg_few_clouds .action_space {
		background-size: 300px auto;
		background-position: 110% 0;
	}
	.bg_few_clouds .action_space::before,
	.bg_scattered_clouds .action_space::before,
	.bg_broken_clouds .action_space::before,
	.bg_mist .action_space::before {
		bottom: 77%;
		width: 215px;
		height: 215px;
		transform: translateX(-80%) rotate(180deg);
		filter: drop-shadow(0 -10px 3px #fff);
		animation: 17s 5s linear infinite movesRotateM;
	}
	.bg_few_clouds .action_space::after,
	.bg_scattered_clouds .action_space::after,
	.bg_broken_clouds .action_space::after,
	.bg_mist .action_space::after {
		width: 180px;
		height: 180px;
		transform: translateX(-180%) scale(-1, 1);
		filter: drop-shadow(-180px -145px 3px #fff);
		animation: 10s linear infinite movesM;
	}
	.bg_scattered_clouds {
		background-image: none;
	}
	.bg_scattered_clouds .action_space {
		background-size: 340px auto;
		background-position: 60% 20%;
	}
	.bg_broken_clouds {
		background-image: none;
	}
	.bg_broken_clouds .action_space {
		background-size: 310px auto;
		background-position: 65% 25%;
	}
	.bg_thunderstorm.banner .pollution {
		color: #495967;
	}
	.bg_thunderstorm .action_space::after {
		width: 100%;
		height: 100%;
		background-image: url("../img/banner/rain_eff.png");
		background-size: auto 100%;
		background-repeat: repeat;
		transform: translateY(-100%);
		opacity: 0.7;
		animation: 1s 0.5s linear infinite comeDown;
		/* animation: 1.5s linear infinite lightningM; */
	}
	.bg_mist {
		background-image: none;
	}
	.bg_mist .action_space {
		background-size: 320px auto;
		background-position: 65% 27%;
	}
	
	.day_weather {
		margin-top: -3px;
		flex-direction: column;
	}
	.day_weather .temp {
		text-align: center;
		width: 70%;
	}
	.day_weather .temp_num {
		position: relative;
		padding-top: 0;
		font-size: 80px;
	}
	.day_weather .temp_num::after {
		top: -10px;
	}
	.day_weather .temp_words {
		position: inherit;
		right: inherit;
		bottom: inherit;
		display: block;
		margin-top: -5px;
		font-size: 25px;
	}
	.day_weather .value {
		position: absolute;
		left: 0;
		bottom: -110px;
		width: 100%;
		padding: 0 20px;
	}
	.day_weather .value span:first-child {
		font-size: 35px;
		margin-bottom: 5px;
	}
	.day_weather .other {
		position: absolute;
		bottom: -145px;
		left: 0;
		justify-content: left;
		width: 100%;
		padding: 0 20px;
	}
	.day_weather .other > span:last-child::before {
		background-color: #d3d3d3;
	}
	.day_weather .other > span > span:first-child {
		color:#a2a2a2;
		font-size: 15px;
	}
	.day_weather .other > span > span:last-child {
		color:#6e6e6e;
		font-size: 17px;
	}
	.banner .pollution {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		right: 15px;
		bottom: 20px;
		min-width: 175px;
		padding-left: 15px;
		padding-right: 37px;
		border-radius: 25px;
		background-color: rgba(255, 255, 255, 0.5);
		color: #676358;
		font-size: 17px;
	}

	.banner .pollution .unit {
		font-size: 16px;
	}

	.banner .pollution .status {
		font-size: 16px;
		margin-left: 5px;
	}

	.banner .pollution::after {
		width: 20px;
		height: 20px;
	}
	.banner .pollution.no_data {
		width: auto;
		font-size: 12px;
		padding: 10px 20px;
		justify-content: center;
	}

	.section {
		flex-direction: column;
	}

	.section .inner:not(:only-child):first-child {
		width: 100%;
		padding-right: 0;
	}
	.m_pull h2 { 
		padding: 0 20px;
	}
	.m_pull {
		overflow: hidden;
		margin: 30px -20px 0;
	}
	.m_pull .inner {
		overflow: inherit;
	}
	.m_pull .festival  {
		margin-top: -48px;
		padding: 48px 20px 0;
	}
	.icon_cloud.fixed {
		left: 100%;
	}
	.banner.no_data {
		margin-bottom: 0;
	}

	.pollution {
		display: none;
	}
	.weather_item {
		height: 50px;
	}

	.present_weather {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: top;
	}
	.weather_item .detail {
		width: 85%;
	}
	.weather_item .description {
		max-width: 70px;
	}

	/* fashion */
	.clothes {
		flex-direction: column;
		word-break: keep-all;
    }
    .clothes_icon {
		width: 100%;
		height: auto;
		/* margin: 0 0 20px; */
		/* display: none; */
	}
	.clothes_bubble {
		width: 100%;
		padding: 25px 0 0;
		height: auto;
		/* margin-left: 20px; */
		min-height: 160px;
		justify-content: end;
	}
	.clothes_bubble:after {
		display: none;
	}
	.clothes_phrase {
		font-size: 21px;
		font-weight: bold;
		padding: 0 20px 20px;
	}
	.clothes_recommend {
		font-size: 16px;
		margin: 0;
		padding: 5px 10px;
        width: 100%;
		background-color: #b9b9b9;
        border-radius: 0 0 5px 5px;
		color: #fff;
	}

	.swiper {
		overflow: inherit;
	}

	.swiper-button-next,
	.swiper-button-prev {
		display: none;
	}
}


/* animation */

@keyframes moveUpDown {
	0%,
	100% {
		transform: translateY(-0.5%);
	}

	50% {
		transform: translateY(0.5%);
	}
}
@keyframes moves {
	0% {
		opacity: 0;
		transform: translateX(-320%) scale(-1, 1);
	}
	30% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.2;
		transform: translateX(710%) scale(-1, 1);
	}
}
@keyframes movesRotate {
	0% {
		opacity: 0;
		transform: translateX(-150%) rotate(180deg);
	}
	30% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.5;
		transform: translateX(400%) rotate(180deg);
	}
}

@keyframes movesM {
	0% {
		transform: translateX(-180%) scale(-1, 1);
	}

	100% {
		transform: translateX(160%) scale(-1, 1);
	}
}
@keyframes movesRotateM {
	0% {
		transform: translateX(-80%) rotate(180deg);
	}

	100% {
		transform: translateX(160%) rotate(180deg);
	}
}
@keyframes comeDown {
	0%{
		opacity: 0.4;
		transform: translateY(-100%);
	}
	50% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.2;
	}
	75% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
		transform: translateY(100%);
	}
}

@keyframes bounce {
	0%,
	100%{
		opacity: 0.3;
		transform: scale(1);
	}

	50% {

		opacity: 0.8;
		transform: scale(0.96);
	}
}

@keyframes lightning {
	0%{
		opacity: 0;
		transform: translateY(-18%) scale(1);
	}
	20% {
		opacity: 0.5;
		left: 62%;
	}
	40% {
		opacity: 0;
		left: 56%;
	}
	50% {
		opacity: 0.7;
		left: 59%;
	}
	60% {
		opacity: 0;
		left: 56%;
	}
	100% {
		left: 58%;
		opacity: 1;
		transform: translateY(100%) scale(0.2);
	}
}
@keyframes lightningM {
	0%{
		opacity: 0;
		transform: translateY(-18%) scale(1);
	}
	20% {
		opacity: 0.5;
		left: 3%;
	}
	40% {
		opacity: 0;
		left: -9%;
	}
	50% {
		opacity: 0.7;
		left: 0%;
	}
	60% {
		opacity: 0;
		left: -6%;
	}
	100% {
		left: -1%;
		opacity: 1;
		transform: translateY(100%) scale(0.2);
	}
}